


<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>


    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="//www.ibm.com/favicon.ico" />

    <link rel="canonical" href="http://www.ibm.com/link_label_3.html" />
    <link rel="canonical" href="http://www.ibm.com/sample_tab_2_2.html" />
    <link rel="canonical" href="http://www.ibm.com/sample_tab_1_1.html" />
    <meta name="geo.country" content="US" />
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2015" />
    <meta name="dcterms.date" content="2015-11-30" />
    <meta name="description" content="seo description" />
    <meta name="keywords" content="seo keywords" />
    <meta name="robots" content="index, follow" /> <meta name="Canonical" value="http://www.ibm.com/sublink_1_1_1.html" /><meta name="Canonical" value="http://www.ibm.com/sublink_2_1_2.html" /><meta name="Canonical" value="http://www.ibm.com/sublink_3_1_3.html" /><meta name="Canonical" value="http://www.ibm.com/sublink_label_1_4.html" />
    <title>Title</title>


    <script>
        digitalData = {
            "page":{
                "category":{
                    "primaryCategory":"Category 1"
                },
                "pageInfo":{
                    "effectiveDate":"2015-11-30",
                    "expiryDate":"2017-11-30",
                    "language":"en-US",
                    "publishDate":"2015-11-30",
                    "publisher":"IBM Corporation",
                    "version":"v18",
                    "ibm":{
                        "contentDelivery":"REPLACE",
                        "contentProducer":"REPLACE",
                        "country":"US",
                        "industry":"Industry 1",
                        "owner":"Michael Baryla\/Raleigh\/IBM",
                        "subject":"Subject 1",
                        "type":"Type 1"
                    },
                    "keywords":"seo keywords",
                    "description":"seo description"
                }
            }
        };
    </script>
    <script src="//www.ibm.com/common/stats/ida_stats.js"></script>
    <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet" />
    <script src="//1.www.s81c.com/common/v18/js/www.js"></script>


    <script type="text/javascript">
        IBMCore.common.util.config.set({
            "masthead":{
                "type":"default"
            },
            "footer":{
                "type":"alternate"
            }
        });
    </script>

    <link rel="stylesheet" href="<%= generatePage.relpath %>css/main.css">

</head>
<body id="ibm-com" class="ibm-type">
<div id="ibm-top" class="ibm-landing-page">

    <!-- MASTHEAD_BEGIN -->
    <div id="ibm-masthead" role="banner" aria-label="IBM">
        <div id="ibm-mast-options">
            <ul role="toolbar" aria-labelledby="ibm-masthead">
                <li id="ibm-geo" role="presentation"><a href="http://www.ibm.com/planetwide/select/selector.html" role="button" aria-label="United States selected - Choose a country">United States</a></li>
                <li id="ibm-language" role="presentation"><span class="ibm-active" role="button" aria-disabled="true">English</span> <a href="http://www.ibm.com/us/en/" lang="en-US" role="button">English</a></li>
            </ul>
        </div>
        <div id="ibm-universal-nav">

            <nav role="navigation" aria-label="IBM">
                <div id="ibm-home"><a href="http://www.ibm.com/us/en/">IBM®</a></div>
                <ul id="ibm-menu-links" role="toolbar" aria-label="Site map">
                    <li><a href="http://www.ibm.com/sitemap/us/en/">Site map</a></li>
                </ul>
            </nav>

            <div id="ibm-search-module" role="search" aria-labelledby="ibm-masthead">
                <form id="ibm-search-form" action="http://www.ibm.com/Search/" method="get">
                    <p>
                        <label for="q">IBM</label>
                        <input type="text" maxlength="100" value="" placeholder="Search" name="q" id="q" aria-label="Search"/>
                        <input type="hidden" value="18" name="v"/>
                        <input type="hidden" value="utf" name="en"/>
                        <input type="hidden" value="en" name="lang"/>
                        <input type="hidden" value="us" name="cc"/>
                        <input type="submit" id="ibm-search" class="ibm-btn-search" value="Submit"/>
                    </p>
                </form>
            </div>
        </div>
    </div>
    <!-- MASTHEAD_END -->


    <div id="ibm-content-wrapper">



        <div layout id="layout"></div>



    </div>

    <!-- FOOTER_BEGIN -->
    <div id="ibm-footer-module"><!-- Dynamic footer links inserted here inside a <section> --></div>


    <footer role="contentinfo" aria-label="IBM">
        <div id="ibm-footer">
            <ul>
                <li><a href="http://www.ibm.com/contact/us/en/">Contact</a></li>
                <li><a href="http://www.ibm.com/privacy/us/en/">Privacy</a></li>
                <li><a href="http://www.ibm.com/legal/us/en/">Terms of use</a></li>
                <li><a href="http://www.ibm.com/accessibility/us/en/">Accessibility</a></li>
            </ul>
        </div>
    </footer>
    <!-- FOOTER_END -->

</div>

<script src="<%= generatePage.relpath %>js/_lib.min.js"></script>
<script src="<%= generatePage.relpath %>js/app.min.js"></script>
</body>
</html>